body{
    font-family: Arial, sans-serif;
    text-align:center;
    margin-top:100px;
}

input{
    width:250px;
    padding:10px;
}

button{
    padding:10px 20px;
    cursor:pointer;
}