body{
    font-family: Arial, sans-serif;
    background: white;
    margin: 0;
}

.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.admin-page{
    text-align: center;
}

.container{
    text-align: center;
    padding: 20px;
    max-width: 500px;
    margin: auto;
    width: 90%;
}

.logo{
    width: 180px;
    max-width: 60%;
    margin-bottom: 20px;
}

h1{
    font-size: 2rem;
    margin-bottom: 20px;
}

input{
    width: 100%;
    max-width: 400px;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

button{
    width: 100%;
    max-width: 250px;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background: #7a0056;
    color: white;
    cursor: pointer;
}

button:hover{
    opacity: 0.9;
}

#qrcode{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#timer{
    text-align: center;
    margin-top: 15px;
}

/* HP */
@media (max-width: 600px){

    .logo{
        width: 140px;
    }

    h1{
        font-size: 32px;
    }

    input{
        font-size: 16px;
    }

    button{
        font-size: 16px;
    }

}
