body{
    font-family: Arial, sans-serif;
    background: white;
    margin: 0;
}

.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.admin-page{
    text-align: center;
}

.container{
    text-align: center;
    padding: 30px;
    max-width: 600px;
    margin: 50px auto;
}

.logo{
    width: 250px;
    margin-bottom: 20px;
}

h1{
    margin-bottom: 20px;
}

input{
    width: 320px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button{
    width: 180px;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background: #7a0056;
    color: white;
    cursor: pointer;
}

button:hover{
    opacity: 0.9;
}

#qrcode{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#timer{
    text-align: center;
    margin-top: 15px;
}
